.DS_Store
.cloud
.storage
.uuid
deps
tts
*.log
*.log.*
*.db*
/secrets.yaml
@eaDir
www/community
.*.conf
.*.state
.pip*
/ssl
*.pyc
/appdaemon/compiled
__pycache__
.HA_VERSION
/image
/custom_components
